body{background-color:grey;
margin:0;
width:100%;
height:50vh;} 
.header{background-color: darkgrey;
  height: 20vh;
  width: 100%;
}

 .footer {background-color: black;
margin:auto;
width: 70%
height: 20vh;
place-content: center;}



.main {background-color: whitesmoke
 box-sizing: border-box;
 margin: auto;
widith: 70px;%;
height: 10vh;
background-color: whitesmoke;
place-content: center;
}

