body{background-color: white;
margin:0;
width:100%;
height:100%;}
.main{background-color: gray;
  margin: 0;
 padding: 50px;}
 

 .footer {background-color: black;
margin:0;
padding:50px;
widows: 100px;vw;}

.header {background-color: whitesmoke
 box-sizing: border-box;
 margin:100px;
width:100px;
height: 500px;
border: solidgray 80px;
background-color: whitesmoke;}
}

